.CV-page {
  font-family: 'Lato', sans-serif;
}

.CV-grid {
  display: flex;
}

.CV-timeline {
  position: relative;
}

.CV-timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5em;
  display: block;
  width: 1em;
  height: 1em;
  border: solid 1px #222222;
  background-color: #d4af37;
  border-radius: 50%;
}
