.content-background {
  background-image: url('/marco-angostopng.png');
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  border-radius: 0.5rem; /* Coincide con el borde redondeado de la card */
}