@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-dark {
  background-color: #13151a;
}

.bg-custom-gold {
  background-color: #d4af37;
}

.white-custom {
  color: #f8f4e3;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: 'monkton-incised-regular';
  src: url('/public/fonts/monkton-incised-regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}